@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #343a40;
}

.navbar{
    padding: 0px !important;
}

.nav-link:hover{
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-link:not(:hover){
    transform: none;
    transition: 0.5s;
}

.navbar-collapse{
    display: none !important;
}

.diagonal-border:after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
    
}

.show{
    display: block !important;
}

/* Max width and min width of a tablet */

/* @media screen and (min-width: 992px) and (max-width: 1024px){

    .diagonal-border{
        background: linear-gradient(70deg, #343a40 25vw, #23262a 0vw);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1305px){
    .diagonal-border{
        background: linear-gradient(70deg, #343a40 20vw, #23262a 0vw);
    }
} */

@media screen and (max-width: 991px){
    
    .navbar-nav{
        text-align: right;
    }

    .diagonal-border{
        background: none;
    }
    
}